<div class="fixed-bottom ">
    <footer class="py-3 " style="background-color: #353535; height: 120px;">
      <ul class="nav justify-content-center border-white border-5 border-bottom pb-3 mb-3"></ul>
      <strong>
        <p class="text-center text-white">© 2021 AGROINDUSTRIAS DIADEMA ZONA FRANCA HONDURAS S.A</p>
      </strong>
      <strong>
        <p class="text-center text-white">POWER BY ICT</p>
      </strong>
    </footer>
</div>